.content {
    padding-top: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 300px;
    transition: left 0.25s ease;
}
body.close .content {
    left: 0;
}
@media screen and (max-width: 768px) {
    main {
        height: auto;
        min-height: 100vh;
        overflow-x: hidden;
    }
    .content {
        left: 0;
        max-width: 100vw;
        position: static;
        padding-top: 20px;
        transition: transform 0.25s ease;
    }
    body.close .content {
        transform: translateX(300px);
    }
}
section.cover {
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: none;
}
section.cover.show {
    display: flex;
}
section.cover.has-mask .mask {
    background-color: #fff;
    opacity: 0.8;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
section.cover .cover-main {
    flex: 1;
    margin-top: 7rem;
    text-align: center;
    position: relative;
}
section.cover a {
    color: inherit;
    text-decoration: none;
}
section.cover a:hover {
    text-decoration: none;
}
section.cover p {
    line-height: 1.5rem;
    margin: 1em 0;
}
section.cover h1 {
    color: inherit;
    font-size: 2.5rem;
    font-weight: 300;
    /*margin: 0.625rem 0 2.5rem;*/
    position: relative;
    text-align: center;
}
section.cover h1 a {
    display: block;
}
section.cover h1 small {
    bottom: 0;
    font-size: 1rem;
    position: absolute;
    padding-left: 0.4rem;
}
section.cover blockquote {
    font-size: 1.5rem;
    text-align: center;
}
section.cover ul {
    line-height: 1.8;
    list-style-type: none;
    margin: 1em auto;
    max-width: 500px;
    padding: 0;
}
section.cover .cover-main > p:last-child a {
    border-radius: 2rem;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.05rem;
    letter-spacing: 0.1rem;
    margin: 0.5rem 1rem;
    padding: 0.75em 2rem;
    text-decoration: none;
    transition: all 0.15s ease;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    background-position: 1rem center;
}
.actions a {
    background-color: #f1f1f1;
    color: #476582;
    fill: currentColor;
    transition-duration: 0.2s;
}
/* .actions a.gitee {
    background-image: url(../img/gitee_icon.svg);
}
.actions a.github {
    background-image: url(../img/github_icon.svg);
}
.actions a.gitee,
.actions a.github {
    text-indent: 1.5rem;
} */
.actions a:hover {
    background-color: #e5e5e5;
}
.actions a:last-child {
    background-color: #42b983;
    color: #fff;
}
.actions a:last-child:hover {
    background-color: #33a06f;
}
